.sitecredits {
    display: block;
    position: absolute;
    bottom: 15px;
    font-size: 0.5em;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    span {
        display: block;
        clear: both;
    }
}