.bottomGradient {
    display: block;
    width: 100vw;
    height: 12vh;
    z-index: 5;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
}

.topGradient {
    display: block;
    width: 100vw;
    height: 13vh;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}