$animationWidth: 90vw;
$animationWidthLarger: 60vw;
$animationWidthMegaLarge: 40vw;

@mixin image-size-position($width) {

  left: 0;
  margin-left: calc($left / 100 * $animationWidth);
  @media (min-width: 1400px) {
    width: calc($width / 100 * $animationWidthLarger);
    margin-left: calc($left / 100 * $animationWidthLarger);
  }
  @media (min-width: 1900px) {
    width: calc($width / 100 * $animationWidthMegaLarge);
    margin-left: calc($left / 100 * $animationWidthMegaLarge);
  }
}

h1.SiteHeaderMain {
    position: fixed;
    font-family: "itc-american-typewriter";
    font-weight: 700;
    font-size: calc(0.055 * $animationWidth);
    color: black;
    margin-left: calc(50vw - $animationWidth/2 + 0.2*$animationWidth);
    margin-top: calc(49.8vh - $animationWidth/2 + 0.365*$animationWidth);
    @media (min-width: 1400px) {
      font-size: calc(0.055 * $animationWidthLarger);
      margin-left: calc(50vw - $animationWidthLarger/2 + 0.2*$animationWidthLarger);
      margin-top: calc(55vh - 0.137 * $animationWidthLarger);
      width: 0.75 * $animationWidthLarger;
    }
    @media (min-width: 1900px) {
      font-size: calc(0.055 * $animationWidthMegaLarge);
      margin-left: calc(50vw - $animationWidthMegaLarge/2 + 0.2*$animationWidthMegaLarge);
      margin-top: calc(55vh - 0.137 * $animationWidthMegaLarge);
      width: 0.75 * $animationWidthMegaLarge;

    }
    z-index: 10;
    display: block;
    width: 0.77 * $animationWidth;
  }

h1.SiteHeaderSub {
    position: fixed;
    z-index: 10;
    display: block;
    font-family: "itc-american-typewriter";
    font-weight: 700;
    color: black;
    right: calc(0.03 * $animationWidth);
    bottom:  calc(0.011 * $animationWidth);
    font-size: calc(0.055 * $animationWidth);
    width: 0.77 * $animationWidth;
    @media (min-width: 1400px) {
      font-size: calc(0.055 * $animationWidthLarger);
      width: 0.75 * $animationWidthLarger;
      bottom:  calc(0.011 * $animationWidthLarger);
      right: calc(0.03 * $animationWidthLarger);
    }
    @media (min-width: 1900px) {
      font-size: calc(0.055 * $animationWidthMegaLarge);
      width: 0.75 * $animationWidthMegaLarge;
      bottom:  calc(0.011 * $animationWidthMegaLarge);
      right: calc(0.03 * $animationWidthMegaLarge);
    }
  }

  h1.PageHeader {
    font-family: "itc-american-typewriter";
    font-weight: 700;
    font-size: calc(0.055 * $animationWidth);
    color: black;
    @media (min-width: 1400px) {
      font-size: calc(0.055 * $animationWidthLarger);
    }
    @media (min-width: 1900px) {
      font-size: calc(0.055 * $animationWidthMegaLarge);
    }
  }