$animationWidth: 90vw;
$animationWidthLarger: 60vw;
$animationWidthMegaLarge: 40vw;

@mixin image-size-position($width, $height, $left, $top) {
  position: absolute;
  width: calc($width / 100 * $animationWidth);
  height: calc($height / 100 * $animationWidth);
  margin-left: calc($left / 100 * $animationWidth);
  margin-top: calc($top / 100 * $animationWidth);
  @media (min-width: 1400px) {
    width: calc($width / 100 * $animationWidthLarger);
    height: calc($height / 100 * $animationWidthLarger);
    margin-left: calc($left / 100 * $animationWidthLarger);
    margin-top: calc($top / 100 * $animationWidthLarger);
  }
  @media (min-width: 1900px) {
    width: calc($width / 100 * $animationWidthMegaLarge);
    height: calc($height / 100 * $animationWidthMegaLarge);
    margin-left: calc($left / 100 * $animationWidthMegaLarge);
    margin-top: calc($top / 100 * $animationWidthMegaLarge);
  }
}

h1.SiteHeaderMain {
    $width: 82;
    $height: 7.5;
    $left: 90.5;
    $top: 77.5;
    font-family: "itc-american-typewriter";
    font-weight: 700;
    font-size: calc(0.055 * $animationWidth);
    color: black;
    @media (min-width: 1400px) {
      font-size: calc(0.055 * $animationWidthLarger);
    }
    @media (min-width: 1900px) {
      font-size: calc(0.055 * $animationWidthMegaLarge);
    }
    @include image-size-position($width, $height, $left, $top);
    z-index: 10;
  }

h1.SiteHeaderSub {
    $width: 82;
    $height: 7.5;
    $left: 165;
    $top: 160;
    font-family: "itc-american-typewriter";
    font-weight: 700;
    font-size: calc(0.055 * $animationWidth);
    color: black;
    @media (min-width: 1400px) {
      font-size: calc(0.055 * $animationWidthLarger);
    }
    @media (min-width: 1900px) {
      font-size: calc(0.055 * $animationWidthMegaLarge);
    }
    @include image-size-position($width, $height, $left, $top);
    margin-top: 93vh !important;
    z-index: 10;
  }

  h1.PageHeader {
    font-family: "itc-american-typewriter";
    font-weight: 700;
    font-size: calc(0.055 * $animationWidth);
    color: black;
    @media (min-width: 1400px) {
      font-size: calc(0.055 * $animationWidthLarger);
    }
    @media (min-width: 1900px) {
      font-size: calc(0.055 * $animationWidthMegaLarge);
    }
  }