
$layout-navigation-top-height-small: 12.4rem;
$layout-navigation-top-height-large: 21rem;

$layout-mobile-min-width: 32.5rem;
$layout-mobile-max-width: 41.4rem;
$layout-mobile-min-height: 55rem;
$layout-mobile-max-height: 89.6rem;

$layout-gutter: 2.4rem;
$layout-gutter-large: $layout-gutter * 1.5;
