/*
Defines page-level stacking of layers.
 */
$stack-index-page-loader: 100;
$stack-index-navigation-side-bar-over-navigation-top: 6;
$stack-index-navigation-top: 5;
$stack-index-navigation-side-bar-under-navigation-top: 4;
$stack-index-search-layer: 3;
$stack-index-page-content: 2;
$stack-index-footer: 1;
$stack-index-page-background: 0;
