
$theme-light-color-primary: $color-blue-dark;
$theme-light-color-primary-2: $color-blue-dark;
$theme-light-color-primary-3: $color-black;
$theme-light-color-bg-1: $color-white;
$theme-light-color-bg-2: $color-white;
$theme-light-color-bg-shape: $color-gray-6;
$theme-light-color-navigation-bg: $color-gray-6;
$theme-light-color-navigation-border: #e1e1e1;

$theme-dark-color-primary: $color-gray-6;
$theme-dark-color-primary-2: $color-gray-6;
$theme-dark-color-primary-3: $color-gray-6;
$theme-dark-color-bg-1: #3c3c3c;
$theme-dark-color-bg-2: $color-gray-1;
$theme-dark-color-bg-shape: $color-gray-1;
$theme-dark-color-navigation-bg: $color-gray-2;
$theme-dark-color-navigation-border: #434343;

$theme-dark-blue-color-primary: $color-gray-6;
$theme-dark-blue-color-primary-2: $color-blue-dark;
$theme-dark-blue-color-bg-1: $color-blue-dark;
$theme-dark-blue-color-bg-2: $color-white;
$theme-dark-blue-color-bg-shape: #0A3660;
$theme-dark-blue-color-navigation-bg: $color-gray-2;
$theme-dark-blue-color-navigation-border: #434343;



$theme-transition-properties: 0.2s ease-in-out;
