
$typography-font-weight-regular: 400;
$typography-font-weight-bold: 700;
$typography-font-npo-sans: 'NPOSans', 'Arial', sans-serif;

$typography-line-height-xlarge: 1.67;
$typography-line-height-large: 1.42;
$typography-line-height-medium: 1.28;
$typography-line-height-small: 1.2;
$typography-line-height-xsmall: 1.11;
